# Compute Project Stats

* This notebook uses the GitHub [GraphQL API](https://developer.github.com/v4/) to compute the number of open and 
  closed bugs pertaining to Kubeflow GitHub Projects
  * Stats are broken down by labels
* Results are plotted using [plotly](https://plot.ly)
  * Plots are currently published on plot.ly for sharing; they are publicly vieable by anyone
  
## Setup GitHub

* You will need a GitHub personal access token in order to use the GitHub API
* See these [instructions](https://help.github.com/articles/creating-a-personal-access-token-for-the-command-line/) for creating a personal access token
  * You will need the scopes:
    * repo
    * read:org    
* Set the environment variable `GITHUB_TOKEN` to pass your token to the code

## Setup Plot.ly Online

* In order to use plot.ly to publish the plot you need to create a plot.ly account and get an API key
* Follow plot.ly's [getting started guide](https://plot.ly/python/getting-started/)
* Store your API key in `~/.plotly/.credentials `

In [177]:
# Use plotly cufflinks to plot data frames
# https://plot.ly/ipython-notebooks/cufflinks/
# instructions for offline plotting
# https://plot.ly/python/getting-started/#initialization-for-offline-plotting
#
# Follow the instructions for online plotting:
# https://plot.ly/python/getting-started/
# You will need to setup an account
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import cufflinks as cf
from importlib import reload
import itertools

In [194]:
import project_stats
reload(project_stats)

In [195]:
c = project_stats.ProjectStats()
c.main()

Make plots showing different groups of labels

* Columns are multi level indexes
* See [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html) for instructions on multilevel indexes
   * We specify a list of tuples where each tuple specifies the item to select at the corresponding level in the index

In [197]:
counts = ["open", "total"]
labels = ["cuj/build-train-deploy", "cuj/multi-user"]
#labels = ["priority/p0", "priority/p1", "priority/p2"]
columns = [(a,b) for (a,b) in itertools.product(counts, labels)]

c.stats.loc[:, columns].iplot(kind='scatter', width=5, filename='project-stats', title='0.5.0 Issue Count')

/usr/local/lib/python3.5/dist-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [196]:
c.stats.loc[:, [("total", "cuj/build-train-deploy")]]

                                            total
label                      cuj/build-train-deploy
time
2018-03-04 02:39:46.000000                      0
2018-04-23 13:30:56.000000                      0
2018-06-06 03:44:13.000000                      0
2018-06-11 01:12:07.000000                      0
2018-06-21 17:30:05.000000                      0
2018-07-14 21:02:50.000000                      0
2018-07-17 01:37:51.000000                      0
2018-07-18 23:19:15.000000                      0
2018-07-20 04:58:28.000000                      0
2018-07-26 13:18:46.000000                      0
2018-08-23 01:21:34.000000                      0
2018-08-24 18:39:55.000000                      0
2018-08-27 14:39:17.000000                      0
2018-08-29 22:42:09.000000                      0
2018-08-31 14:05:40.000000                      0
2018-08-31 17:58:04.000000                      0
2018-09-04 13:16:32.000000                      0
2018-09-20 01:23:58.000000                      0
2018-09-20 01:26:05.000000                      0
2018-09-21 07:28:03.000000                      0
2018-09-24 18:57:57.000000                      0
2018-09-29 22:16:21.000000                      0
2018-10-08 23:17:31.000000                      0
2018-10-09 13:39:05.000000                      0
2018-10-11 13:07:19.000000                      0
2018-10-24 22:31:41.000000                      0
2018-10-25 15:29:33.000000                      0
2018-10-29 17:40:46.000000                      0
2018-10-30 04:00:23.000000                      0
2018-10-31 13:22:10.000000                      0
...                                           ...
2018-12-28 20:28:28.000000                      4
2018-12-29 23:01:03.000000                      4
2018-12-29 23:02:24.000000                      4
2018-12-29 23:09:15.000000                      4
2018-12-30 01:24:13.000000                      4
2019-01-03 12:16:47.000000                      4
2019-01-03 19:45:38.000000                      4
2019-01-04 02:34:32.000000                      4
2019-01-04 02:35:17.000000                      4
2019-01-06 21:20:15.000000                      4
2019-01-06 21:51:20.000000                      4
2019-01-07 01:40:27.000000                      4
2019-01-07 01:51:43.000000                      4
2019-01-07 04:19:07.000000                      4
2019-01-07 14:36:30.000000                      4
2019-01-07 15:06:42.000000                      4
2019-01-08 21:01:44.000000                      5
2019-01-09 00:20:50.000000                      5
2019-01-14 00:03:11.000000                      5
2019-01-14 00:22:14.000000                      5
2019-01-14 00:38:51.000000                      5
2019-01-14 00:44:31.000000                      5
2019-01-14 18:04:40.000000                      5
2019-01-15 05:48:55.000000                      5
2019-01-21 14:40:06.000000                      5
2019-01-22 02:15:23.000000                      5
2019-01-22 08:54:48.000000                      5
2019-01-28 16:25:53.000000                      6
2019-01-28 16:27:04.000000                      7
2019-01-29 11:50:50.418719                      7

[111 rows x 1 columns]